# Byte-compiled / optimized / DLL files
.idea

*/*/sbatch.sh
*/*/data
*/*/env

/data
*/__pycache__/
*/.idea/
*/data/*
*/*/data/*
*/*/data/*.pkl
*/Data/*
*/*/Data/*
!*/data/*.py
!*/*/data/*.py
!*/data/*.md
!*/*/data/*.md
*/stocknet-dataset-master
*/*/stocknet-dataset-master
*/dataset/*
*/*/dataset/*
*/Dataset/*
*/*/Dataset/*
!*/dataset/*.py
!*/*/dataset/*.py
!*/dataset/*.md
!*/*/dataset/*.md
!Evaluation/data/
!Evaluation/data/**

hats/node_classification/src/data/
hats/graph_classification/src/data/

*/hats/node_classification/src/data/
*/hats/graph_classification/src/data/

estimate/src/data
Regression/ESTIMATE/src/data

RTGCN/work_dir/NYSE
RTGCN/work_dir/NASDAQ

*/RTGCN/work_dir/NYSE
*/RTGCN/work_dir/NASDAQ

HGTAN/HGTAN/__pycache__/
HGTAN/training/__pycache__/
RTGCN/processor/__pycache__/
StockMixer/src/__pycache__/
hats/graph_classification/src/base/__pycache__/
hats/graph_classification/src/models/__pycache__/

*/*/tmp
